<section class="contact-information">
  <h3>Contact Us</h3>
  <ul>
    <li>Hunan Springs</li>
    <li>24 E. Kiowa St.</li>
    <li>Colorado Springs, CO 80903</li>
    <li>P: (719) 634-0800</li>
  </ul>
  <h3>Hours</h3>
  <ul>
    <li>Sunday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Monday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Tuesday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Wednesday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Thursday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Friday: 11:00 a.m. - 9:00 p.m.</li>
    <li>Saturday: 11:00 a.m. - 9:00 p.m.</li>
  </ul>
</section>
<section class="hunan-image">
</section>