<section class="contact-information">
  <h3>Contact Us</h3>
  <ul>
    <li>Hunan Springs</li>
    <li>24 E. Kiowa St.</li>
    <li>Colorado Springs, CO 80903</li>
    <li>P: (719) 634-0800</li>
  </ul>
  <h3>Hours</h3>
  <p>Lunch is served from 11:00 a.m. - 3:00 p.m.</p>
  <p>Dinner is served from 3:00 p.m. - close.</p>
  <table class="contact-us">
    <tr>
      <td>Sunday:</td>
      <td>11:00 a.m. - 9:00 p.m.</td>
    </tr>
    <tr>
      <td>Monday:</td>
      <td>11:00 a.m. - 9:00 p.m.</td>
    </tr>
    <tr>
      <td>Tuesday:</td>
      <td>11:00 a.m. - 9:00 p.m.</td>
    </tr>
    <tr>
      <td>Wednesday:</td>
      <td>11:00 a.m. - 9:00 p.m.</td>
    </tr>
    <tr>
      <td>Thursday:</td>
      <td>11:00 a.m. - 9:00 p.m.</td>
    </tr>
    <tr>
      <td>Friday:</td>
      <td>11:00 a.m. - 10:00 p.m.</td>
    </tr>
    <tr>
      <td>Saturday:</td>
      <td>11:00 a.m. - 10:00 p.m.</td>
    </tr>
  </table>
</section>
<section class="hunan-image">
</section>