nav {
  @include outer-container;
  padding: .25em 0;

  a {
    font-weight: bold;
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  ul {
    float: right;
  }

  li {
    display: inline-block;
    margin-left: .5em;
  }
}

.main-nav {
  .brand-name {
    font-size: 2em;
    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin-top: 1.2em;
  }

}

.admin-nav {
  border-top: 1px solid $white;
}